body{
    margin: 0%;
    height: 100%;
    width: 100%;
    background: url(background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top{
    background: rgba(0, 0, 0, 0.479);
    position: absolute;
    width: 100%;
    height: 120px;
}

#top h1{
    margin-left: 3%;
    width: 30%;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.384);
    color: rgba(211, 114, 114, 0.685);
}

#buttonAddNote{
    position: absolute;
    width: 120px;
    height: auto;
    text-align: center;
    padding: 10px;
    top: 10%;
    left: 45%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(225, 243, 222);
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 20px;
    border: 0px;
    transition: 1s;
    cursor: pointer;
}

#buttonAddNote:hover{
    color: rgba(0, 0, 0, 0.658);
    background-color: rgb(225, 243, 222);
}

#addNewNote{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(240, 230, 240, 0.281);
    border: 1px solid black;
    top: 20%;
    left:50%;
    margin-left: -25%;
    display: none;
    z-index: 15;
}

form{
    position: static;
    text-align: center;
}

form input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
}

#value{
    min-height: 200px;
}

#noteContainer{
    position: relative;
    height: auto;
    width: 60%;
    margin: auto;
    top: 150px;
    padding: 15px;
    line-height: 50%;
}

.task{
    margin: 15px;
    padding: 15px;
    width: 100%;
    position: relative;
}

.pinontop{
    position: relative;
    margin-left: 77%;
    text-align: center;
    padding: 15px;
    width: 130px;
    height: auto;
    color: rgb(225, 243, 222);
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}

h2{
    line-height: 1cm;
}

h4 {
    padding: 10px;
    line-height: 1cm;
}

.pinontop:hover{
    color: rgba(0, 0, 0, 0.658);
    background-color: rgb(225, 243, 222);
}

.cross1{
    transform: rotate(45deg);
 }
 .cross2{
     transform: rotate(-45deg);
     bottom: 5px;
 }

.cross1, .cross2{
    width: 20px;
    height: 5px;
    position: relative;
    background-color: black;
}

.cross1:hover, .cross2:hover{
    background-color: rgba(255, 255, 255, 0.712);
}

.exitbutton{
    right: 0px;
}

.task:first-child{
    border: 1px solid black;
    margin-bottom: 15px;
}